
<app-menu></app-menu>

<div class="contenedor">
    <app-rating></app-rating>
    <!-- Variable de referencia de plantilla  #cargador -->
    <!-- <input type="file" style="display: none;" #cargador /> 
    <button  class="btn btn-outline-success btn-sm" (click)="cargador.click()">Cargar Archivo</button>
 -->

    <!-- <h2>En Cines</h2>
    <app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>


    <h2>Futuros Estrenos</h2>
    <app-listado-peliculas [peliculas]="peliculasProximosEstrenos"></app-listado-peliculas> -->


</div>